body{
    background-color: #e4a9ff;
    margin: 0;
    padding: 4od0px;
}

h1{
    color: #b129f0;
    text-align: center;
}

form{
    width: 50%;
    margin: auto;
    padding: 25px;
    background-color: #ffffffe8;
    border: 1px solid #000000;
    border-radius: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #777777;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input:focus{
    border-color: #b129f0;
    outline: none;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #b129f0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #ae00ff;
}